@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(31, 34, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope", serif;
    color: white;
}

.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0;
}

.title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
}

.search {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 40px;
}

#search-input, .search-btn {
    border-radius: 24px;
    outline: none;
    border: none;
    font-family: "Manrope", serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding-left: 12px;
    padding-right: 8px;
    width: 200px;
}

.search-btn {
    width: 40px;
    cursor: pointer;
}

.error {
    display: none;
}

.error p {
    font-size: 14px;
}

.weather {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    margin-top: 20px;
}

.weather-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-top>img {
    width: 100px;
}

.details {
    display: flex;
    gap: 36px;
}

.details-top {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details-sec {
    display: flex;
    gap: 8px;
}

.details-top p {
    text-align: center;
}